

/*各版块样式*/


#div_103
{
	
		width:958px;
	
	

	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;

	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;

	border-top-width:1px;
	border-right-width:1px;
	border-bottom-width:0px;
	border-left-width:1px;
}



#div_103101
{
	
		float:left;
	
		width:476px;
	
	

	padding-top:0px;
	padding-right:2px;
	padding-bottom:0px;
	padding-left:0px;

	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;

	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
}



#div_103102
{
	
		float:right;
	
		width:479px;
	
	

	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;

	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;

	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:1px;
}



#div_103102101
{
	
	

	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;

	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;

	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
}



#div_103102102
{
	
	

	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;

	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;

	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
}



#div_103102102101
{
	
		float:left;
	
		width:239px;
	
	

	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;

	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;

	border-top-width:0px;
	border-right-width:1px;
	border-bottom-width:0px;
	border-left-width:0px;
}



#div_103102102102
{
	
		float:left;
	
		width:239px;
	
	

	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;

	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;

	border-top-width:0px;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
}



/*最外层的DIV样式*/
#div_103
{
	margin-left:auto;
	margin-right:auto;
}
